In [1]:
import numpy  as np
import pandas as pd

# **Créer un dataframe depuis une matrice NumPy**

In [2]:
matrice = np.random.rand(3,4)
matrice

array([[0.92899035, 0.14917843, 0.71864548, 0.65165585],
       [0.97281214, 0.25083667, 0.26990676, 0.53967767],
       [0.26066491, 0.31943075, 0.67251699, 0.86858454]])

In [5]:
dataframe =  pd.DataFrame(matrice, columns = ['col1','col2','col3', 'col4'],index = ['l1','l2','l3'])
dataframe

        col1      col2      col3      col4
l1  0.928990  0.149178  0.718645  0.651656
l2  0.972812  0.250837  0.269907  0.539678
l3  0.260665  0.319431  0.672517  0.868585

In [6]:
data = np.arange(10,22).reshape(3,4)
data

array([[10, 11, 12, 13],
       [14, 15, 16, 17],
       [18, 19, 20, 21]])

In [7]:
dataframe_etendu = pd.DataFrame(
    data,
    columns=dataframe.columns,
    index=['l4', 'l5', 'l6']
)
dataframe_etendu

    col1  col2  col3  col4
l4    10    11    12    13
l5    14    15    16    17
l6    18    19    20    21

In [8]:
dataframe_concatene = pd.concat([dataframe,dataframe_etendu])
dataframe_concatene

         col1       col2       col3       col4
l1   0.928990   0.149178   0.718645   0.651656
l2   0.972812   0.250837   0.269907   0.539678
l3   0.260665   0.319431   0.672517   0.868585
l4  10.000000  11.000000  12.000000  13.000000
l5  14.000000  15.000000  16.000000  17.000000
l6  18.000000  19.000000  20.000000  21.000000

In [9]:
df_left = pd.DataFrame({'clé': ['A', 'B'], 'valeur_left': [1, 2]})
df_right = pd.DataFrame({'clé': ['A', 'B'], 'valeur_right': [3, 4]})

df_merged = pd.merge(df_left, df_right, on='clé')

df_merged

  clé  valeur_left  valeur_right
0   A            1             3
1   B            2             4

In [11]:
df1 = pd.DataFrame({'A': [1, 2]}, index=['l1', 'l2'])
df2 = pd.DataFrame({'B': [3, 4]}, index=['l1', 'l2'])

df_joined = df1.join(df2)
df_joined

    A  B
l1  1  3
l2  2  4