In [1]:
import numpy  as np
import pandas as pd

# **Multi index**

In [2]:
df1 = pd.DataFrame(np.random.rand(5, 3),
                   index=[['A','A','A','B','B'],['a1','a2','a3','b1','b2']],
                   columns=['data1','data2','data3'])
df1

         data1     data2     data3
A a1  0.066371  0.173038  0.167973
  a2  0.986508  0.485303  0.442013
  a3  0.932782  0.862712  0.606398
B b1  0.117465  0.622733  0.843704
  b2  0.270811  0.390512  0.466162

> ## Créer un multi index depuis un série de tuples

In [3]:
groupe       = ['A','A','A','B','B']
sous_groupe  = ['a1','a2','a3','b1','b2']
couples      = list(zip(groupe,sous_groupe))

# Hiérarchiser les index
couple_index = pd.MultiIndex.from_tuples(couples)
couple_index

MultiIndex([('A', 'a1'),
            ('A', 'a2'),
            ('A', 'a3'),
            ('B', 'b1'),
            ('B', 'b2')],
           )

In [4]:
df2 = pd.DataFrame(np.random.rand(5, 3),
                   couple_index,
                   ['data1','data2','data3'])
df2

         data1     data2     data3
A a1  0.645799  0.282491  0.076509
  a2  0.144593  0.872574  0.767155
  a3  0.041731  0.161029  0.754832
B b1  0.441864  0.881267  0.191041
  b2  0.994953  0.098981  0.058214