# SERIE D'EXERCICES 1: Explorer différentes données mondiales

# 1.Importer les biblipthèques Pandas et Numpy

In [1]:
import numpy  as np
import pandas as pd

# 2.Lecture d'un ensemble de données (dataset) de type csv

# Dans le dossier ressources, télécharger le fichier dataset_modial.csv et enregistrer le dans votre dossier de travail, puis importer (lire) ce fichier à l'aide de pandas.

In [2]:
pays = pd.read_csv('dataset_mondial.csv')

# 3.Afficher les cinq premières lignes

In [3]:
pays.head()

,Pays,Superficie,Population,Taux_de_natalite,Taux_de_mortalite,Taux_de_mortalite_infantile,Esperance_de_vie_naissance,Consommation_electricite,Production_electricite,Croissance_industrielle,Taux_inflation,Serveurs_Internet,Utilisateurs_Internet,Taux_chomage
0,Afghanistan,647500,29928987.0,47.02,20.75,163.07,42.90,6.522000e+08,5.400000e+08,NaN,10.3,NaN,1000.0,NaN
1,Akrotiri,123,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Albania,28748,3563112.0,15.08,5.12,21.52,77.24,6.760000e+09,5.680000e+09,3.1,3.2,455.0,30000.0,14.8
3,Algeria,2381740,32531853.0,17.13,4.60,31.00,73.00,2.361000e+10,2.576000e+10,6.0,3.1,897.0,500000.0,25.4
4,American Samoa,199,57881.0,23.13,3.33,9.27,75.84,1.209000e+08,1.300000e+08,NaN,NaN,NaN,NaN,6.0

# 4.Afficher uniquement les 2 premières lignes

In [4]:
pays.head(2)

,Pays,Superficie,Population,Taux_de_natalite,Taux_de_mortalite,Taux_de_mortalite_infantile,Esperance_de_vie_naissance,Consommation_electricite,Production_electricite,Croissance_industrielle,Taux_inflation,Serveurs_Internet,Utilisateurs_Internet,Taux_chomage
0,Afghanistan,647500,29928987.0,47.02,20.75,163.07,42.9,652200000.0,540000000.0,NaN,10.3,NaN,1000.0,NaN
1,Akrotiri,123,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# 5. Calculer le total de la poulation modiale

In [5]:
pays['Population'].sum()

np.float64(6446145584.0)

# 6. Calculer la moyenne de la population modiale (Par pays)

In [6]:
pays['Population'].mean()

np.float64(27198926.514767934)

# 7.Quel est le plus grand nombre d'habitants (par pays) dans monde?

In [7]:
pays['Population'].max()

1306313812.0

# 8. Quel est le pays le plus peuplé dans le monde?

In [8]:
pays[pays['Population'] == pays['Population'].max()]['Pays'] # Pays en dernier pour l'afficher

49    China
Name: Pays, dtype: object

# 9. Quel est le pays le moins peuplé dans le monde?

In [9]:
pays[pays['Population'] == pays['Population'].min()]['Pays']

191    Pitcairn Islands
Name: Pays, dtype: object

# 10. Quel est le pays qui a le plus grand taux de natalité (par 1000 habitants) ?

In [11]:
pays['Taux_de_natalite'].max() # Le plus grand taux

48.3

In [12]:
pays[pays['Taux_de_natalite'] == pays['Taux_de_natalite'].max()]['Pays'] # Le pays

176    Niger
Name: Pays, dtype: object

# 11. Quel est le pays qui a le plus grand taux de mortalité (par 1000 habitants) ?

In [13]:
pays['Taux_de_mortalite'].max()

29.36

In [14]:
pays[pays['Taux_de_mortalite'] == pays['Taux_de_mortalite'].max()]['Pays']

31    Botswana
Name: Pays, dtype: object

# 12. Quel est le plus grand nombre d'utilisateurs d'Internet selon les pays?

In [15]:
pays['Utilisateurs_Internet'].max()

159000000.0

# 13. Quel est le pays qui a le plus grand nombre d'utilisateurs d'Internet?

In [16]:
pays[pays['Utilisateurs_Internet'] == pays['Utilisateurs_Internet'].max()]['Pays']

248    United States
Name: Pays, dtype: object

# 14. Quel est le pays qui a le minimum de nombre d'utilisateurs d'Internet?

In [17]:
pays[pays['Utilisateurs_Internet'] == pays['Utilisateurs_Internet'].min()]['Pays']

168    Nauru
Name: Pays, dtype: object

# 15. Quel est le nombre d'utilisateurs d'Internet en France ?

In [18]:
pays[pays['Pays'] == 'France']['Utilisateurs_Internet']

82    21900000.0
Name: Utilisateurs_Internet, dtype: float64

# 16. Quel est le taux de natalité (par 1000) en Algérie (Algeria)?

In [19]:
pays[pays['Pays'] == 'Algeria']['Taux_de_natalite']

3    17.13
Name: Taux_de_natalite, dtype: float64

# 17. Quel est le taux de mortalité dans le monde ?

In [20]:
pays['Taux_de_mortalite'].mean()

np.float64(9.371026785714287)

# 18. Selectionner tous les pays ayant une population supérieure à 100 millions

In [21]:
pays[pays['Population']>100000000]

,Pays,Superficie,Population,Taux_de_natalite,Taux_de_mortalite,Taux_de_mortalite_infantile,Esperance_de_vie_naissance,Consommation_electricite,Production_electricite,Croissance_industrielle,Taux_inflation,Serveurs_Internet,Utilisateurs_Internet,Taux_chomage
20,Bangladesh,144000,1.443196e+08,30.01,8.40,62.60,62.08,1.530000e+10,1.645000e+10,6.5,6.0,1.0,243000.0,40.0
33,Brazil,8511965,1.861128e+08,16.83,6.15,29.61,71.69,3.519000e+11,3.390000e+11,6.0,7.6,3163349.0,14300000.0,11.5
49,China,9596960,1.306314e+09,13.14,6.94,24.18,72.27,1.630000e+12,1.910000e+12,17.1,4.1,160421.0,94000000.0,9.8
112,India,3287590,1.080264e+09,22.32,8.28,56.29,64.35,5.101000e+11,5.472000e+11,7.4,4.2,86871.0,18481000.0,9.2
113,Indonesia,1919440,2.419739e+08,20.71,6.25,35.60,69.57,9.235000e+10,1.102000e+11,10.5,6.1,62036.0,8000000.0,9.2
121,Japan,377835,1.274172e+08,9.47,8.95,3.26,81.15,9.710000e+11,1.044000e+12,6.6,-0.1,12962065.0,57200000.0,4.7
158,Mexico,1972550,1.062029e+08,21.01,4.73,20.91,75.19,1.897000e+11,2.036000e+11,3.8,5.4,1333406.0,10033000.0,3.2
177,Nigeria,923768,1.287720e+08,40.65,17.18,98.80,46.74,1.843000e+10,1.985000e+10,1.8,16.5,1142.0,750000.0,NaN
183,Pakistan,803940,1.624199e+08,30.42,8.45,72.44,63.00,5.266000e+10,7.527000e+10,13.1,4.8,15124.0,1500000.0,8.3
198,Russia,17075200,1.434203e+08,9.80,14.52,15.39,67.10,8.943000e+11,9.150000e+11,6.4,11.5,560874.0,6000000.0,8.3
248,United States,9631418,2.957341e+08,14.14,8.25,6.50,77.71,3.660000e+12,3.839000e+12,4.4,2.5,115311958.0,159000000.0,5.5

# 19. Calculer la moyenne du taux de natalité pour les pays ayant une population supérieure à 100 milloins

In [25]:
moyenne_taux_natalite = pays[pays['Population'] > 100000000]['Taux_de_natalite'].mean()
print(f"La moyenne du taux de natalité pour les pays de plus de 100M d'habitants est : {moyenne_taux_natalite:.2f}")

La moyenne du taux de natalité pour les pays de plus de 100M d'habitants est : 20.77