# EXERCICE 2 : Analyser les données avec pandas

# 1. Importer pandas et numpy

In [1]:
import numpy  as np
import pandas as pd

# 2. Lecture du dataset Salaires.csv

In [2]:
salaires = pd.read_csv('Salaires.csv')

In [3]:
salaires

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
148649,148650,Roy I Tillery,Custodian,0.00,0.00,0.00,0.0,0.00,0.00,2014,NaN,San Francisco,NaN
148650,148651,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN
148651,148652,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN
148652,148653,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.00,0.00,-618.13,0.0,-618.13,-618.13,2014,NaN,San Francisco,NaN

# 3. Calculer la moyenne des sataires

In [4]:
salaires['TotalPay'].mean()

np.float64(74768.32197169267)

# 4. Donner Le salaire maximum

In [5]:
salaires['TotalPay'].max()

567595.43

# 5. Donner le nom de l'employé ayant le plus grand salaire

In [6]:
salaires[salaires['TotalPay'] == salaires['TotalPay'].max()]['EmployeeName']

0    NATHANIEL FORD
Name: EmployeeName, dtype: object

# 6. Donner la moyenne des salaires pour chaque année

In [7]:
salaires.groupby('Year')['TotalPay'].mean()

Year
2011    71744.103871
2012    74113.262265
2013    77611.443142
2014    75463.918140
Name: TotalPay, dtype: float64

# 7. Combien de métiers est répertorié dans ce dataset ? (sans répétition)

In [8]:
len(salaires['JobTitle'])

148654

In [9]:
salaires['JobTitle'].nunique()

2159

In [10]:
salaires['JobTitle'].unique() # le n en moins pour voir les méthiers

array(['GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY',
       'CAPTAIN III (POLICE DEPARTMENT)',
       'WIRE ROPE CABLE MAINTENANCE MECHANIC', ..., 'Conversion',
       'Cashier 3', 'Not provided'], shape=(2159,), dtype=object)

# 8.Quels sont les 10 métiers les plus populaires (qui ont le grand nombre d'employés)?

In [11]:
salaires['JobTitle'].value_counts().head(10)

JobTitle
Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Custodian                       2418
TRANSIT OPERATOR                2388
Firefighter                     2359
Recreation Leader               1971
Patient Care Assistant          1945
Name: count, dtype: int64

# 9. Combien de titre de métiers correspondent à un seul employé en 2014? (avec une seule occurence)

In [12]:
salaires[salaires['Year'] == 2014]['JobTitle'].value_counts() == 1

JobTitle
Transit Operator                  False
Special Nurse                     False
Registered Nurse                  False
Public Svc Aide-Public Works      False
Firefighter                       False
                                  ...
Research Psychologist              True
Attorney, Tax Collector            True
Undersheriff                       True
Senior Museum Preparator           True
Area Sprv Parks, Squares & Fac     True
Name: count, Length: 997, dtype: bool

In [13]:
sum(salaires[salaires['Year'] == 2014]['JobTitle'].value_counts() == 1)

175

# 10. Donner le nombre d'anesthésistes dans cet ensemble de données (ANESTHETIST)

In [14]:
sum(salaires[salaires['JobTitle'] == 'ANESTHETIST']['EmployeeName'].value_counts())

25

# 11. Donner la moyenne des salaires pour chaque metier

In [15]:
salaires.groupby('JobTitle')['TotalPay'].mean()

JobTitle
ACCOUNT CLERK                                     44035.664337
ACCOUNTANT                                        47429.268000
ACCOUNTANT INTERN                                 29031.742917
ACPO,JuvP, Juv Prob (SFERS)                       62290.780000
ACUPUNCTURIST                                     67594.400000
                                                      ...
X-RAY LABORATORY AIDE                             52705.880385
X-Ray Laboratory Aide                             50823.942700
YOUTH COMMISSION ADVISOR, BOARD OF SUPERVISORS    53632.870000
Youth Comm Advisor                                41414.307500
ZOO CURATOR                                       66686.560000
Name: TotalPay, Length: 2159, dtype: float64