In [1]:
import numpy  as np
import pandas as pd

# **Créer un dataframe depuis plusieurs séries**

In [2]:
notes_maths = pd.Series({"Christophe": 17, "Carla": 6, "Caroine": 20, "Jean-Baptiste": 2, "Florence": 15.5, "Emma": 19})
notes_maths

Christophe       17.0
Carla             6.0
Caroine          20.0
Jean-Baptiste     2.0
Florence         15.5
Emma             19.0
dtype: float64

In [3]:
notes_français = pd.Series({"Christophe": 0, "Carla": 5, "Caroine": 20, "Jean-Baptiste": 12, "Florence": 19, "Emma": 19})
notes_français

Christophe        0
Carla             5
Caroine          20
Jean-Baptiste    12
Florence         19
Emma             19
dtype: int64

In [4]:
notes_histoire = pd.Series({"Christophe": 0, "Carla": 9, "Caroine": 20, "Jean-Baptiste": 18, "Florence": 20, "Emma": 19})
notes_histoire

Christophe        0
Carla             9
Caroine          20
Jean-Baptiste    18
Florence         20
Emma             19
dtype: int64

In [5]:
# Créer le dataframe notes depuis ces séries
notes = pd.DataFrame({'Français':notes_français,'Histoire':notes_histoire,'Maths':notes_maths})
notes

               Français  Histoire  Maths
Christophe            0         0   17.0
Carla                 5         9    6.0
Caroine              20        20   20.0
Jean-Baptiste        12        18    2.0
Florence             19        20   15.5
Emma                 19        19   19.0

In [ ]:
# _Les clés sont les colonnes, et les séries sont les valeurs, les étiquettes sont les indexes_