In [2]:
import numpy as np

# Exercices Numpy

## 1. Créer un vecteur nul de taille 10

In [3]:
vecteur_nul = np.zeros(10)
vecteur_nul

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

## 2. Créer un vecteur de taille 10 dont tous les éléments sont nuls sauf le troisième qui est égal à 10

In [4]:
vecteur = np.zeros(10)
vecteur[2] = 10
vecteur

array([ 0.,  0., 10.,  0.,  0.,  0.,  0.,  0.,  0.,  0.])

## 3. Créer un vecteur  de taille 10 dont tous les éléments sont égaux à 1

In [5]:
vecteur = np.ones(10)
vecteur

array([1., 1., 1., 1., 1., 1., 1., 1., 1., 1.])

## 4. Créer un tableau unidimensionnel de taille 10 dont tous les éléments sont égaux à 20

In [6]:
vecteur = np.full(10, 20)
vecteur

array([20, 20, 20, 20, 20, 20, 20, 20, 20, 20])

In [8]:
vecteur = np.zeros(10)+20

In [ ]:
vecteur = np.ones(10)*20

## 5. Créer un vecteur avec des valeurs allant de 20 à 100 compris

In [9]:
vecteur = np.arange(20, 101)
vecteur

array([ 20,  21,  22,  23,  24,  25,  26,  27,  28,  29,  30,  31,  32,
        33,  34,  35,  36,  37,  38,  39,  40,  41,  42,  43,  44,  45,
        46,  47,  48,  49,  50,  51,  52,  53,  54,  55,  56,  57,  58,
        59,  60,  61,  62,  63,  64,  65,  66,  67,  68,  69,  70,  71,
        72,  73,  74,  75,  76,  77,  78,  79,  80,  81,  82,  83,  84,
        85,  86,  87,  88,  89,  90,  91,  92,  93,  94,  95,  96,  97,
        98,  99, 100])

## 6. Créer une matrice 3x3 avec des valeurs allant de 1 à 9

In [10]:
matrice = np.arange(1, 10).reshape(3, 3)
matrice

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

## 7. Créer une matrice 4x4 avec des valeurs allant de 20 à 35

In [11]:
matrice = np.arange(20, 36).reshape(4, 4)
matrice

array([[20, 21, 22, 23],
       [24, 25, 26, 27],
       [28, 29, 30, 31],
       [32, 33, 34, 35]])

## 8. Créer la matrice d’identité 3x3

In [12]:
matrice_identite = np.eye(3)
matrice_identite

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

## 9. Utiliser Numpy pour générer un nombre aléatroire compris entre 0 et 1

In [13]:
nombre_aleatoire = np.random.rand()
nombre_aleatoire

0.09920049914625895

## 10. Utiliser Numpy pour générer un vecteur de 16 éléments aléatoires

In [14]:
vecteur = np.zeros(16)
vecteur

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

In [15]:
vecteur_aleatoire = np.random.rand(16)
vecteur_aleatoire

array([0.56268061, 0.45195429, 0.39798359, 0.01145693, 0.30478161,
       0.1512653 , 0.65575985, 0.68597812, 0.41815838, 0.11560888,
       0.91234091, 0.34486535, 0.35348413, 0.37160354, 0.47977841,
       0.17634864])

## Mais si on veut que ses nombres soient généeés d'une distribution normale:

In [16]:
vecteur_normal = np.random.normal(loc=0, scale=1, size=16)
vecteur_normal

array([-0.12929218, -0.4458016 , -0.35750466, -1.10050302, -1.32202025,
       -0.07470636, -0.62576752,  1.94816843, -0.71373608, -0.7660798 ,
       -0.40144037, -0.91808323, -1.69361261, -1.12918558, -0.4917001 ,
       -0.47412165])

In [17]:
vecteur_aleatoire = np.random.randn(16)
vecteur_aleatoire

array([-0.37436089,  1.6235209 , -0.73122595, -0.22133426, -0.49255676,
        0.97002428,  1.22938224, -0.94454661, -0.44200288,  0.66263216,
       -0.84032403,  0.92873041,  0.57633779, -0.80584627, -0.35962479,
        0.08519761])

## 11. Créer un tableau unidimensionnel de 20 éléments de 1 à 20, puis remplacer tous ses éléments compris strictement entre 5 et 15 par leurs opposés

In [18]:
tableau = np.arange(1, 21)
print("Tableau initial :\n", tableau)
# Remplacer les éléments strictement entre 5 et 15 par leurs opposés
tableau[(tableau > 5) & (tableau < 15)] *= -1
tableau

Tableau initial :
 [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20]

array([  1,   2,   3,   4,   5,  -6,  -7,  -8,  -9, -10, -11, -12, -13,
       -14,  15,  16,  17,  18,  19,  20])

## 12. Écrire un programme permettant d’obtenir la matrice suivante

In [20]:
vecteur = np.linspace(0.01, 1.0, 100)
matrice = vecteur.reshape(10, 10)
matrice

array([[0.01, 0.02, 0.03, 0.04, 0.05, 0.06, 0.07, 0.08, 0.09, 0.1 ],
       [0.11, 0.12, 0.13, 0.14, 0.15, 0.16, 0.17, 0.18, 0.19, 0.2 ],
       [0.21, 0.22, 0.23, 0.24, 0.25, 0.26, 0.27, 0.28, 0.29, 0.3 ],
       [0.31, 0.32, 0.33, 0.34, 0.35, 0.36, 0.37, 0.38, 0.39, 0.4 ],
       [0.41, 0.42, 0.43, 0.44, 0.45, 0.46, 0.47, 0.48, 0.49, 0.5 ],
       [0.51, 0.52, 0.53, 0.54, 0.55, 0.56, 0.57, 0.58, 0.59, 0.6 ],
       [0.61, 0.62, 0.63, 0.64, 0.65, 0.66, 0.67, 0.68, 0.69, 0.7 ],
       [0.71, 0.72, 0.73, 0.74, 0.75, 0.76, 0.77, 0.78, 0.79, 0.8 ],
       [0.81, 0.82, 0.83, 0.84, 0.85, 0.86, 0.87, 0.88, 0.89, 0.9 ],
       [0.91, 0.92, 0.93, 0.94, 0.95, 0.96, 0.97, 0.98, 0.99, 1.  ]])

In [19]:
matrice = np.arange(1,101).reshape(10,10)/100

## 13. Créer un vecteur de 50 éléments également espacés entre 5 et 10

In [21]:
vecteur = np.linspace(5, 10, 50)
vecteur

array([ 5.        ,  5.10204082,  5.20408163,  5.30612245,  5.40816327,
        5.51020408,  5.6122449 ,  5.71428571,  5.81632653,  5.91836735,
        6.02040816,  6.12244898,  6.2244898 ,  6.32653061,  6.42857143,
        6.53061224,  6.63265306,  6.73469388,  6.83673469,  6.93877551,
        7.04081633,  7.14285714,  7.24489796,  7.34693878,  7.44897959,
        7.55102041,  7.65306122,  7.75510204,  7.85714286,  7.95918367,
        8.06122449,  8.16326531,  8.26530612,  8.36734694,  8.46938776,
        8.57142857,  8.67346939,  8.7755102 ,  8.87755102,  8.97959184,
        9.08163265,  9.18367347,  9.28571429,  9.3877551 ,  9.48979592,
        9.59183673,  9.69387755,  9.79591837,  9.89795918, 10.        ])

## 14. Créer une matrice 8x8 d’éléments entre 1 et 64

In [22]:
matrice = np.arange(1, 65).reshape(8, 8)
matrice

array([[ 1,  2,  3,  4,  5,  6,  7,  8],
       [ 9, 10, 11, 12, 13, 14, 15, 16],
       [17, 18, 19, 20, 21, 22, 23, 24],
       [25, 26, 27, 28, 29, 30, 31, 32],
       [33, 34, 35, 36, 37, 38, 39, 40],
       [41, 42, 43, 44, 45, 46, 47, 48],
       [49, 50, 51, 52, 53, 54, 55, 56],
       [57, 58, 59, 60, 61, 62, 63, 64]])

## 15. Écrire un programme permettant de faire une sélection dans la matrice précédente pour d’obtenir la matrice suivante

In [23]:
sous_matrice = matrice[4:7, 3:8]  # Lignes 4 à 6 (inclus), colonnes 3 à 7 (inclus)
sous_matrice

array([[36, 37, 38, 39, 40],
       [44, 45, 46, 47, 48],
       [52, 53, 54, 55, 56]])

In [24]:
sous_matrice = matrice[4:7, 3:]
sous_matrice

array([[36, 37, 38, 39, 40],
       [44, 45, 46, 47, 48],
       [52, 53, 54, 55, 56]])

## 16. Écrire un programme permettant de faire une sélection dans la matrice précédente pour d’obtenir la matrice suivante

In [25]:
sous_matrice = matrice[3:, :5]  # Lignes 3 à 7 (inclus), colonnes 0 à 4 (inclus)
sous_matrice

array([[25, 26, 27, 28, 29],
       [33, 34, 35, 36, 37],
       [41, 42, 43, 44, 45],
       [49, 50, 51, 52, 53],
       [57, 58, 59, 60, 61]])

## 17. Écrire un programme permettant de faire une sélection uniquement des deux premieres lignes de la matrice de la question 14

In [26]:
deux_premieres_lignes = matrice[:2]
deux_premieres_lignes

array([[ 1,  2,  3,  4,  5,  6,  7,  8],
       [ 9, 10, 11, 12, 13, 14, 15, 16]])

## 18. Calculer la somme de toutes les valeurs d’une matrice

In [27]:
somme = np.sum(matrice)
somme

np.int64(2080)

## 19. Calculer la moyenne des valeurs dans la matrice

In [28]:
moyenne = np.mean(matrice)
moyenne

np.float64(32.5)

## 20. Calculer l’écart type des valeurs dans la matrice

In [29]:
np.std(matrice)

np.float64(18.472953201911167)

## 21. Calculer la somme des valeurs de toutes les colonnes

In [30]:
somme_colonnes = np.sum(matrice, axis=0)
somme_colonnes

array([232, 240, 248, 256, 264, 272, 280, 288])

## 22. Créer une matrice 4x4 dont les valeurs de la diagonale sont 0, 1, 2 et 3

In [31]:
diagonale = np.array([0, 1, 2, 3])
matrice = np.diag(diagonale)
matrice

array([[0, 0, 0, 0],
       [0, 1, 0, 0],
       [0, 0, 2, 0],
       [0, 0, 0, 3]])

## 23. Créer une matrice 4x4 dont les valeurs de la diagonale sont 1, 2, 3, et 4.

In [32]:
diagonale = np.array([1, 2, 3, 4])
matrice = np.diag(diagonale)
matrice

array([[1, 0, 0, 0],
       [0, 2, 0, 0],
       [0, 0, 3, 0],
       [0, 0, 0, 4]])

## 24. Créer une matrice 4x4 avec des valeurs 1,2,3 sont juste en dessous de la diagonale

In [33]:
valeurs = np.array([1, 2, 3])
matrice = np.diag(valeurs, k=-1)
matrice

array([[0, 0, 0, 0],
       [1, 0, 0, 0],
       [0, 2, 0, 0],
       [0, 0, 3, 0]])

## 25. Créer un tableau unidimensionnel vect de valeur de 1 à 20, puis remplacer tous ses valeurs impaires par -1

In [34]:
vect = np.arange(1, 21)
vect

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20])

In [35]:
vect[vect % 2 != 0] = -1
vect

array([-1,  2, -1,  4, -1,  6, -1,  8, -1, 10, -1, 12, -1, 14, -1, 16, -1,
       18, -1, 20])

## 26. Créer un tableau unidimensionnel vect_2 de valeur de 1 à 20, puis remplacer tous ses valeurs impaires par -1 sans modifier vect_2

In [36]:
vecteur = np.arange(1, 21)
vect_2 = vecteur.copy()
vect_2

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20])

In [37]:
vect_2[vect_2 % 2 != 0] = -1

In [38]:
vecteur

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20])

## 27. Créer une matrice 3x3 d’éléments de 1 à 9, puis permuter les deux premières colonnes

In [39]:
matrice = np.arange(1, 10).reshape(3, 3)
matrice

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [40]:
matrice[:, [0, 1]] = matrice[:, [1, 0]]
matrice

array([[2, 1, 3],
       [5, 4, 6],
       [8, 7, 9]])

## 28. Créer une matrice 3x3 d’éléments de 1 à 9, puis permuter les deux dernières lignes

In [41]:
matrice = np.arange(1, 10).reshape(3, 3)
matrice[[1, 2], :] = matrice[[2, 1], :]
matrice

array([[1, 2, 3],
       [7, 8, 9],
       [4, 5, 6]])